<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{fragment/main_layout}">
<body>
  <div layout:fragment="content">

    <h3>Employee Directory</h3>
    <hr>

    <p class="h4 mb-4">Update Employee</p>

    <form action="#" th:action="@{/employees/save}"
                     th:object="${employee}" method="POST">

      <!-- Add hidden form field to handle update-->
      <input type="hidden" th:field="*{id}" />

      <input type="text" th:field="*{firstName}"
             class="form-control mb-4 col-4" placeholder="First name"/>

      <input type="text" th:field="*{lastName}"
             class="form-control mb-4 col-4" placeholder="Last name"/>

      <input type="text" th:field="*{email}"
             class="form-control mb-4 col-4" placeholder="email"/>

      <input type="text" th:field="*{position}"
             class="form-control mb-4 col-4" placeholder="position"/>

      <input type="text" th:field="*{age}"
             class="form-control mb-4 col-4" placeholder="age"/>

      <input type="date" th:field="*{startDate}"
             class="form-control mb-4 col-4" placeholder="Start Date" id="startDate" name="startDate"/>

      <input type="text" th:field="*{salary}"
             class="form-control mb-4 col-4" placeholder="Salary"/>
      <div class="form-group-row">
        <div class="col-sm-2"></div>
         <div>
            <input type="submit" value="Save" class="btn btn-success" >
           <a th:href="@{/employees/list}" class="btn btn-primary" role="button">Back to List</a>
         </div>
      </div>
    </form>

    <hr>
  </div>
</body>
</html>